<div style="margin-top: 0px">
    <h1 style="color: white; font-weight: 900; margin-top: 100px; margin-bottom: 5px">Cast</h1>
    <div class="row">
        <div class="col-md-2">
            <div class="card">
                <img src="https://image.tmdb.org/t/p/original/74xTEgt7R36Fpooo50r9T25onhq.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img src="https://image.tmdb.org/t/p/original/74xTEgt7R36Fpooo50r9T25onhq.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
    </div>
</div>