<!-- Header-->
<header>
    <!-- Background image -->
    <div class="p-5 text-center bg-image"
         style="
                background: linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.5)
                ),
                url('https://img.wallpapersafari.com/desktop/1280/1024/43/77/U6PNmb.jpg');
                height: 320px;
              ">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center my-5">
                <div class="text-white">
                    <h1 class="my-3">Browse your favourite movies!</h1>
                    <h4 class="my-3">One stop destination for all your movies.</h4>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header /-->