<div class="card mb-3" style="color: white;
    background-size: cover;
    background-position: right -200px top;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.84)), url({{ banner }}) no-repeat;">
    <div class="row g-0" style="margin-top: 40px">
        <div class="col-md-3">
            <img src="{{ poster }}" class="img-fluid rounded-start" alt="..."
            style="width: 65%; margin-top: 4em;
            height: 70%; margin-left:6em; border-radius:5%;">
        </div>
        <div class="col-md-9">
            <div class="card-body my-5">
                <div class="row">
                    <div class="col-md-10">
                        <h1 class="card-title movie-title">{{ title }} ({{ year }})</h1>
                    </div>
                </div>
                <div class="row">
                    <ul class="info">
                        <li><i class="bi bi-dot"></i>{{ release_date }}</li>
                        <li><i class="bi bi-dot"></i>{{ genre|join:', ' }}</li>
                        <li><i class="bi bi-dot"></i>{{ runtime }} mins</li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <ul style="list-style: none; padding: 0px; text-align: center">
                            <li><h5>Overall Rating</h5></li>
                            <li><h5><i class="bi bi-star-fill" style="color: yellow; margin-right: 5px"></i>{{ overall_rating }}</h5></li>
                        </ul>
                    </div>
                {% if user.is_authenticated %}
                    <div class="col-md-2">
                        <ul style="list-style: none; padding:0px; text-align: center">

                            <li><h5>Your Rating</h5></li>
                            {% if rating != 0 %}
                                <li>
                                    <h5>
                                        <a href="#" data-toggle="modal" data-target="#ratingModal" style="color: white">
                                            <i class="bi bi-star-fill" style="color: cornflowerblue; margin-right: 5px"></i>
                                                {{ rating }}
                                        </a>
                                    </h5>
                                </li>
                            {% else %}
                                <li style="text-align: center"><a href="#" data-toggle="modal" data-target="#ratingModal"><h5>Rate</h5></a></li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
                </div>
                <!--<div class="row">
                    <ul>
                        <li>
                            <button class="btn rounded-circle"
                                    style="background-color: black"
                                    data-toggle="tooltip" data-placement="bottom" title="Add to Watchlist">
                            <i class="bi bi-bookmark-fill" style="color: white"></i></button>
                        </li>
                        <li><a class="btn rounded-circle" style="background-color:black; margin-left: 20px"
                        href="#!" data-toggle="modal" data-target="#ratingModal">
                            <i class="bi bi-star-fill" style="color: white"></i>
                        </a></li>
                    </ul>
                </div> -->
                <div class="row">
                    <div class="col-md-10">
                        <h3 class="mt-4" style="color: white">Overview</h3>
                        <p>{{ description }}</p>
                    </div>

                </div>
                 <!--<div class="row">
                    <div class="col-md-10">
                        <h3 class="mt-4" style="color: white">Cast</h3>
                        <p>{{ cast|join:', ' }}</p>
                    </div>

                </div>-->

                <div class="row">
                    <div class="col-md-10">
                    {% if cart %}
                    <a class="btn shopping-cart-btn mt-auto" style="background-color: darkred" href="{% url "remove-cart" movie_id %}">
                        Remove from cart
                    </a>
                    {% else %}
                    <a class="btn shopping-cart-btn mt-auto" href="{% url "shopping-cart" movie_id %}">
                        <i class="bi bi-cart-plus" style="margin-right: 10px;"></i>
                        {{ price }} CAD
                    </a>
                    {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>