{% extends 'base.html' %}
{% load static %}
{% block page_title %}{{ user }}'s Profile{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "movies/profile.css" %}">
{% endblock %}
{% block content %}
    <!-- Navigation -->
    {% include 'movies/includes/navigation.html' %}
    <!-- Footer -->
    <div style="margin-left: 200px; margin-right: 200px">
        <h1 style="color: white; font-weight: 900; margin-top: 100px; margin-bottom: 20px">Change Password</h1>
        <form class="form-floating needs-validation" action="{% url "change-password" %}" method="post" style="color: black">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <label for="floatingEmail" style="color: white">Old Password</label>
                <input type="password" class="form-control" id="floatingOldPassword" name="oldpassword" required>

            </div>
            <div class="form-floating">
                <label for="floatingPassword" style="color: white">New Password</label>
                <input type="password" class="form-control" id="floatingNewPassword" name="newpassword" required>

            </div>
            <button class="btn btn-primary" type="submit" style="margin-top: 10px">Submit</button>
        </form>
        {% if errors == True %}
            <h4 style="color: red">You have entered a wrong old password</h4>
        {% endif %}
    </div>

{% endblock %}
