{% extends 'base.html' %}
{% load static %}
{% block page_title %}Forgot Password{% endblock %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "movies/movies.css" %}">
{% endblock %}
{% block content %}
    <div style="margin-left: 200px; margin-right: 200px">
        <h1 style="color: white; font-weight: 900; margin-top: 100px; margin-bottom: 5px">Forgot Password</h1>
        <form action="{% url "forgot-password" %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username"
                       placeholder="Enter username">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!-- Footer -->

{% endblock %}