{% extends 'base.html' %}
{% block page_title %}Home Page{% endblock %}
{% block content %}
    <!-- Navigation -->
    {% include 'movies/includes/navigation.html' %}
    {% include 'movies/includes/header.html' %}

    <!-- section 01: Top Trending Shows -->
    {% include 'movies/includes/section.html' with section_title='Top Movies' movies=top_movies %}

    <!-- section 02: Top Shows In Action -->
    {% include 'movies/includes/section.html' with section_title='Top Movies In Action' movies=top_action_movies %}

    <!-- section 03: Top Shows In Thriller -->
    {% include 'movies/includes/section.html' with section_title='Top Movies In Thriller' movies=top_thriller_movies %}

    <!-- Footer -->
    {% include 'movies/includes/footer.html' %}
{% endblock %}