{% extends 'base.html' %}
{% load static %}
{% block page_title %}{{ movie.title }}{% endblock %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "movies/movies.css" %}">
{% endblock %}
{% block content %}
    <!-- Navigation -->
    {% include 'movies/includes/navigation.html' %}
    {% include 'movies/includes/rating-modal.html' %}
    {% include 'movies/includes/movie-detail.html' %}
    {% include 'movies/includes/cast.html' %}

    <!-- Footer -->
    {% include 'movies/includes/footer.html' %}
{% endblock %}