{% extends 'base.html' %}
{% load static %}
{% block page_title %}Sign-up Page{% endblock %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "movies/movies.css" %}">
{% endblock %}
{% block content %}

     <div style="color: white; display: flex; justify-content: center; align-items: center; margin: 5em">
    <form action="{% url "signup" %}" method="post" >
    {%  csrf_token %}
    {{ fill_form.as_p }}
        <button type="submit">Submit</button>
    </form>
    </div>

    <!-- Footer -->
    {% include 'movies/includes/footer.html' %}
{% endblock %}